{% extends 'smv/base.html' %}
{% block body %}

    <h2 style="text-align: center">Single Needle Lock Stitch Machine</h2><br>
    <p>The lockstitch uses two threads, an upper and a lower. Lockstitch is so named because the two threads, upper and lower, "lock" (entwine) together in the hole in the fabric which they pass through. The upper thread runs from a spool kept on a spindle on top of or next to the machine, through a tension mechanism, through the take-up arm, and finally through the hole in the needle. Meanwhile the lower thread is wound onto a bobbin, which is inserted into a case in the lower section of the machine below the material.
</p><br>
<p>To make one stitch, the machine lowers the threaded needle through the cloth into the bobbin area, where a rotating hook (or other hooking mechanism) catches the upper thread at the point just after it goes through the needle. The hook mechanism carries the upper thread entirely around the bobbin case, so that it has made one wrap of the bobbin thread. Then the take-up arm pulls the excess upper thread (from the bobbin area) back to the top, forming the lockstitch. Then the feed dogs pull the material along one stitch length, and the cycle repeats.

</p><br><p>
Thread tension correct and incorrect
Ideally, the lockstitch is formed in the center of the thickness of the material—that is, ideally the upper thread entwines the lower thread in the middle of the material. The thread tension mechanisms, one for the upper thread and one for the lower thread, prevent either thread from pulling the entwine point from out of the middle of the material.</p>
<br>
    <h2 style="text-align: center">Geometry</h2><br>

    <p>The geometry of the lockstitch is controlled by the presence or absence of  : </p>
<p>
1.sideways movements of the machine's needle, and</p><p>
2.backwards movements of the machine's feed dogs.</p><p><br>
In older machines, the needle and feed motion is controlled by mechanical cams. Some modern household machines offer a slot for user-replaceable custom stitch cams. In more recent designs, the needle and feed motion are directly motorized.</p>


{% endblock %}