<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load staticfiles %}
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/table.css">
</head>
<body>
<div class="bg-primary" style="margin-top: 0px">
    <H1 class="text-center">DASHBOARD</H1>
</div>
<div class="table-responsive">
    <table class = "table table-bordered" style="margin-top: 10px ;margin-right: 10px" >
        <thead>
        <tr >
        <th></th>
            {% for i in lines %}
            <th colspan="4">{{i}}</th>
            {% endfor %}
        </tr>
        <tr>
        <th></th>
            {% for i in lines %}
                {% for j in m3 %}
                    {% if j == "MACHINE" %}
                        <th COLSPAN="2">{{ j }}</th>
                    {% else %}
                        <th>{{ j }}</th>
                    {% endif %}
                 {% endfor %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
        <th></th>
        {% for i in lines %}
            <td class="success">man</td>
            <td>machine</td>
            <td title="Operator_name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
            <td>material</td>
        {% endfor %}
        </tr>
        <tr>
        <th></th>
        {% for i in lines %}
            <td>man</td>
            <td class="warning">machine</td>
            <td class="warning" title="Operator_name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
            <td>material</td>
        {% endfor %}
        </tr>
         <tr >
        <th></th>
            {% for i in departments %}
            <th colspan="4">{{i}}</th>
            {% endfor %}
        </tr>
        <tr>
        <th></th>
        {% for i in lines %}
            <td>man</td>
            <td>machine</td>
            <td title="Operator_name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
            <td class="danger">material</td>
        {% endfor %}
        </tr>
        <tr>
        <th></th>
        {% for i in lines %}
            <td class="info">man</td>
            <td>machine</td>
            <td title="Operator_name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
            <td class="info">material</td>
        {% endfor %}
        </tr>
        {% for i in cutting_sections %}
        <tr>
            <th></th>
            <th colspan="4" title={{ i.values }}>{{ i.keys }}</th>
        </tr>
            <tr>
            <th></th>
            <td class="info">man</td>
            <td class="info">machine</td>
            <td class="info" title="Operator_name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
            <td class="warning">material</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>